h2{
    color: #5863E3;

font-family: Helvetica;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 8px;

}
section{
    padding-top: 57px;
}
h3{
    color: #000;

    font-family: Helvetica;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 371px; 
    height: 112px;
    margin-top: 7px;
    
}
textarea{
    max-width: 756px;
    width: 100%;
    min-height: 298px;
height: 100%;
flex-shrink: 0;
resize: none;
color: #99999A;

font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 57px;

}
input{
    width: 370px;
height: 59px;
flex-shrink: 0;
border: 2px solid rgba(212, 211, 211, 0.30);

background: #F8F8F8;
color: #99999A;

font-family: Helvetica;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom:18px ;



}
.forinput{
    width: 375px;
    height: 298px;
    
    margin-top: 57px;
    margin-left: 20px;
    
    
   
}
form{
    display: flex;
    flex-wrap: wrap;
}
#send{
    background: #5968F4;
}
.logo{
    background-color:#5863E3; 
    border-radius: 100%;
    width: 68px;
height: 68px;
flex-shrink: 0;
display: flex;
justify-content: space-around;
align-items: center;
}
h4{
    color: #4E4D54;
    margin-left: 80px;

font-family: Helvetica;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 226px;
}
a{
    color: #99999A;

font-family: Helvetica;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: normal;
display: block;

}


.cardsdiv{
    max-width:220px ;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
   max-width:1180px ;
   width: 100%;
   min-height: 675px;
   height: 100%;
   margin: 0 auto;
}
.flexdiv{
    display: flex;
    justify-content: space-around;
    width: 1150px;
    margin-top: 70px;
}
h5{
    width: 548px;
    height: 112px;
    color: #000;
    font-family: Helvetica;
    font-size: 49px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 112px;
    margin-top: 7px;
    
} 
.images{
    width: 1319px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
img{
    margin-top: 32px;
}
.secdiv{
    margin-left: 144px;

}
footer{
    height: 370px;
    background-color: #000;
    padding-top: 68px;
    margin-top: 39px;
    width: 100%;
    display:flex ;
    

}
h6{
    color: #FFF;

font-family: Helvetica;
font-size: 26px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 23px;
}
p{
    color: #99999A;

font-family: Helvetica;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 295px;
margin-bottom: 19px;
}
.footersdiv{
    width: 295px;
    height: 210px;
    margin-left: 143px;
    display: inline-block;
    margin-right: 191px;
}
.footersdiv2{
    width: 213px;
    height: 160px;
    display: flex;
    flex-direction: column;
    
    
    
}
h1{
    color: #FFF;

font-family: Helvetica;
font-size: 21px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 32px;
}
.contact{
    width: 160px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    
}
.contact2{
    width: 200px;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}